<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <div id="file-form">
        <h1>Multer</h1>
        <form id="file-form" action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" id="file" name="file"  required> 
            <button type="submit">Enviar Archivo</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/public/js/multer.js"></script>
    </body>

</html>
